{{extend 'layout.html'}}

<h1>Choose a distribution</h1>

<p>
{{if auth.is_logged_in():}}
    {{=A("(or create new)",_href=URL('werepo','default','new',))}}
{{pass}}
</p>

{{for distro in distros:}}
		<div class="post greenbox">
			<div class="title">
				<h1>{{=A(distro.name,_href=URL('werepo','default','select',args=[distro.id]))}} {{=distro.codename}}</h1>
			</div>
			<div class="entry"> 
				<p>{{=distro.description}}</p>
				<p>Version: {{=distro.version}}</p>
			</div>
            <div class="btm">
				<div class="l">
					<div class="r">

	                <p class="meta">
{{if auth.is_logged_in():}}
                        <a href={{=URL('werepo','default','edit',args=[distro.id])}} class="more">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a href={{=URL('werepo','default','delete',args=[distro.id])}} class="more">Delete</a>
{{pass}}
                    </p>


					</div>
				</div>
			</div>

		</div>
        <br>
{{pass}}



